# Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Load Data

In [2]:
df = pd.read_csv('US_youtube_trending_data.csv')# load in your data

In [3]:
df.head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156908,5855,35313,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS ▶ http://bit.ly/Subscrib...
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688,146739,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare..."
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353787,2628,40221,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11T16:38:55Z,UCbg_UMjlHJg_19SZckaKajg,XXL,10,2020-08-12T00:00:00Z,xxl freshman|xxl freshmen|2020 xxl freshman|20...,496771,23251,1856,7647,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg,False,False,Subscribe to XXL → http://bit.ly/subscribe-xxl...
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889,45802,964,2196,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...

In [4]:
df['categoryId'].value_counts()

24    33610
20    32671
10    28278
17    18160
22    14842
23     9103
1      6736
25     6512
28     5157
26     4789
27     4054
2      2954
19      850
15      760
29      114
Name: categoryId, dtype: int64

### Recode the category ids to strings

In [5]:
category_dict = {0:"Film & Animation", 1:"Autos & Vehicles", 10:"Music", 15:"Pets & Animals", 17:"Sports", 18:"Short Movies",
                19:"Travel & Events", 20:"Gaming", 21:"Videoblogging", 22:"People & Blogs", 23:"Comedy", 24:"Entertainment",
                25:"News & Politics", 26:"Howto & Style", 27:"Education", 28:"Science & Technology", 29:"Nonprofits & Activism", 
                30:"Movies", 31:"Anime/Animation", 32:"Action/Adventure", 33:"Classics", 34:"Comedy", 35:"Documentary", 
                36:"Drama", 37:"Family", 38:"Foreign", 39:"Horror", 40:"Sci-Fi/Fantasy", 41:"Thriller", 42:"Shorts",
                43:"Shows", 44:"Trailers"}

In [6]:
df.categoryId = df.categoryId.replace(category_dict)
df.head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,People & Blogs,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156908,5855,35313,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS ▶ http://bit.ly/Subscrib...
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,Gaming,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688,146739,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare..."
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,Entertainment,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353787,2628,40221,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11T16:38:55Z,UCbg_UMjlHJg_19SZckaKajg,XXL,Music,2020-08-12T00:00:00Z,xxl freshman|xxl freshmen|2020 xxl freshman|20...,496771,23251,1856,7647,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg,False,False,Subscribe to XXL → http://bit.ly/subscribe-xxl...
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,Howto & Style,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889,45802,964,2196,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...

# Video Recommender

In [7]:
video_category = df[['video_id','title', 'categoryId']]

In [8]:
video_category.head()

,video_id,title,categoryId
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,People & Blogs
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,Gaming
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,Entertainment
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,Music
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,Howto & Style

In [9]:
video_category.shape

(168590, 3)

In [10]:
video_category.isnull().sum()

video_id      0
title         0
categoryId    0
dtype: int64

In [11]:
#video_category['tags'] = video_category['tags'].str.replace('|', ',')

In [12]:
video_category.head()

,video_id,title,categoryId
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,People & Blogs
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,Gaming
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,Entertainment
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,Music
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,Howto & Style

In [13]:
#video_tags['tags'].value_counts()

In [14]:
categoryId_enc = video_category.join(pd.concat([video_category['categoryId'].str.get_dummies(sep=',')])).drop('categoryId',axis=1)

In [15]:
categoryId_enc.head()

,video_id,title,2,Autos & Vehicles,Comedy,Education,Entertainment,Gaming,Howto & Style,Music,News & Politics,Nonprofits & Activism,People & Blogs,Pets & Animals,Science & Technology,Sports,Travel & Events
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

### Calculate Cosine Similarities

In [16]:
a2 = categoryId_enc.drop(['video_id','title'], axis = 1)

In [ ]:
video_cos_sim = cosine_similarity(a2, a2)

In [ ]:
video_cos_sim

### Save top N most similar items per movie
In results, save the N most similar items for each video. We put a pair (score, viedo_id)

In [ ]:
video_category = video_category.reset_index(drop=True)

In [ ]:
video_results = {}
for idx, row in video_tags.iterrows():
    similar_indices = video_cos_sim[idx].argsort()[:-100:-1]
    similar_items = [(video_cos_sim[idx][i], video_tags['video_id'].iloc[[i]].tolist()[0]) 
                     for i in similar_indices]     
    video_results[row['video_id']] = similar_items[1:]

In [ ]:
# transform 'movieId' into its name
def get_video_name(video_id):
    return video_tags[video_tags['video_id'] == video_id]['title'].tolist()[0].split(' - ')[0]

In [ ]:
get_movie_name(500)

---
---

# Text Analysis

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import chi2, SelectKBest
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [8]:
textData = df[['title', 'categoryId']]
textData

                                                    title      categoryId
0                      I ASKED HER TO BE MY GIRLFRIEND...  People & Blogs
1       Apex Legends | Stories from the Outlands – “Th...          Gaming
2       I left youtube for a month and THIS is what ha...   Entertainment
3       XXL 2020 Freshman Class Revealed - Official An...           Music
4       Ultimate DIY Home Movie Theater for The LaBran...   Howto & Style
...                                                   ...             ...
168585                 Tiny Deadlocked Vise - Restoration       Education
168586  Carrie Underwood - Crazy Angels (Live From The...           Music
168587   D pulls up on Mike at the office - Kountry Wayne          Comedy
168588  When Mike tells Rolonda why he wants to take h...          Comedy
168589  정국 Jung Kook (of BTS) featuring Fahad Al Kubai...          Sports

[168590 rows x 2 columns]

In [9]:
textData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168590 entries, 0 to 168589
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   title       168590 non-null  object
 1   categoryId  168590 non-null  object
dtypes: object(2)
memory usage: 2.6+ MB

In [10]:
textData = textData.dropna()
textData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168590 entries, 0 to 168589
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   title       168590 non-null  object
 1   categoryId  168590 non-null  object
dtypes: object(2)
memory usage: 2.6+ MB

In [11]:
#textData = textData[textData.description.isin(['nan', 'Unknown']) == False]

In [11]:
#textData

Initialize TfidfVectorizer with desired parameters (default smoothing and normalization)

In [12]:
tfidf_vectorizer = TfidfVectorizer(analyzer='word',stop_words= 'english')

The feature that has the text data we want to work with is 'title'. We will use that to TfidfVectorizer. Using the fit_transform() method to learn vocabulary and idf. This method returns document-term matrix.

In [14]:
tfidf_vector = tfidf_vectorizer.fit_transform(textData['title'])
tfidf_vector

<168590x22653 sparse matrix of type '<class 'numpy.float64'>'
	with 1003880 stored elements in Compressed Sparse Row format>

In [15]:
# How many words did we count?
len(tfidf_vectorizer.get_feature_names())

/Users/jeremysloan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

22653

In [16]:
# list the words
tfidf_vectorizer.get_feature_names()[:10] # listing the first 10 only

['00',
 '000',
 '0000001',
 '00001',
 '000cal',
 '000fps',
 '000ft',
 '000hp',
 '000th',
 '001']

Make a DataFrame out of the resulting tf–idf vector, setting the “feature names” or words as columns and the titles as rows

In [17]:
tfidf_df = pd.DataFrame(tfidf_vector.toarray(), columns=tfidf_vectorizer.get_feature_names())
tfidf_df

,00,000,0000001,00001,000cal,000fps,000ft,000hp,000th,001,...,𝙎𝘾𝘼𝙈𝙈𝙀𝙍,𝙱𝚕𝚊𝚌𝚔,𝙲𝚊𝚕𝚕,𝙲𝚘𝚕𝚍,𝙳𝚞𝚝𝚢,𝙾𝚙𝚜,𝚁𝚎𝚟𝚎𝚊𝚕,𝚃𝚛𝚊𝚒𝚕𝚎𝚛,𝚆𝚊𝚛,𝚘𝚏
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168586,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168589,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

It is clear that we have a lot of features now. But if we take a closer look at our matrix we can easily tell that it is very sparse with many 0 values.

Let's create some functions to help us with our analysis keeping in mind when we say document here were are referring to an single entry(event) in our dataset.

This function takes a single row of the tf-idf matrix (corresponding to a particular document), and returns the n highest scoring words (or more generally tokens or features):

In [18]:
# Get top n tfidf values in row and return them with their corresponding feature names.
def top_tfidf_feats(row, features, top_n=25):
    topn_ids = np.argsort(row)[::-1][:top_n]
    top_feats = [(features[i], row[i]) for i in topn_ids]
    df = pd.DataFrame(top_feats)
    df.columns = ['feature', 'tfidf']
    return df

Here we use argsort to produce the indices that would order the row by tf-idf value, reverse them (into descending order), and select the first top_n. We then return a pandas DataFrame with the words themselves (feature names) and their corresponding score.

The result of a tf-idf, however, is typically a sparse matrix, which doesn’t support all the usual matrix or array operations. So in order to apply the above function to inspect a particular document, we convert a single row into dense format first:

In [19]:
# Top tfidf features in specific document (matrix row)
def top_feats_in_doc(Xtr, features, row_id, top_n=25):
    row = np.squeeze(Xtr[row_id].toarray())
    return top_tfidf_feats(row, features, top_n)

For example, we can look at the first document we have and use this function to show the top 10 words used in the first document of our matrix.

In [20]:
textData.iloc[0]['title']

'I ASKED HER TO BE MY GIRLFRIEND...'

In [21]:
top_feats_in_doc(tfidf_vector,tfidf_vectorizer.get_feature_names(),0,10)

/Users/jeremysloan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      feature     tfidf
0       asked  0.749286
1  girlfriend  0.662247
2          𝚘𝚏  0.000000
3    fighters  0.000000
4      fidget  0.000000
5        fiel  0.000000
6       field  0.000000
7     fielder  0.000000
8      fields  0.000000
9  fieldsense  0.000000

Calculate the average tf-idf score of all words across a number of documents (in this case all documents), i.e. the average per column of a tf-idf matrix:

In [22]:
def top_mean_feats(Xtr, features, grp_ids=None, min_tfidf=0.1, top_n=25):
    if grp_ids:
        D = Xtr[grp_ids].toarray()
    else:
        D = Xtr.toarray()

    D[D < min_tfidf] = 0
    tfidf_means = np.mean(D, axis=0)
    return top_tfidf_feats(tfidf_means, features, top_n)

Calling this function with grp_ids=None, gives us the most important words across the whole dataset. Here are the top 10:

In [23]:
top_mean_feats(tfidf_vector,tfidf_vectorizer.get_feature_names(),top_n=15)

/Users/jeremysloan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

       feature     tfidf
0     official  0.022961
1        video  0.020240
2    minecraft  0.013700
3      trailer  0.010715
4           vs  0.009950
5        music  0.009831
6   highlights  0.008204
7          new  0.008127
8       shorts  0.008107
9         game  0.007272
10        2021  0.006397
11          ft  0.005814
12      season  0.005610
13        2022  0.005344
14         000  0.005165

let’s calculate the mean tf-idf scores depending on a event type label. This function returns a list of dataframes, where each dataframe holds top_n features and their mean tfidf value calculated across rows(events) with the same class label.

In [24]:
def top_feats_by_class(Xtr, y, features, min_tfidf=0.1, top_n=25):
    dfs = []
    labels = np.unique(y)
    for label in labels:
        ids = np.where(y==label)
        feats_df = top_mean_feats(Xtr, features, ids, min_tfidf=min_tfidf, top_n=top_n)
        feats_df.label = label
        dfs.append(feats_df)
    return dfs

In [25]:
dfs = top_feats_by_class(tfidf_vector,textData['categoryId'],tfidf_vectorizer.get_feature_names())

/Users/jeremysloan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

TypeError: '<' not supported between instances of 'int' and 'str'

Instead of printing the features out as a table, let’s create a figure in matplotlib:

In [26]:
# Plot the data frames returned by the function plot_tfidf_classfeats().
def plot_tfidf_classfeats_h(dfs):
    fig = plt.figure(figsize=(45, 25), facecolor="w")
    x = np.arange(len(dfs[0]))
    for i, df in enumerate(dfs):
        ax = fig.add_subplot(2, 4, i+1)
        ax.spines["top"].set_visible(False)
        ax.spines["right"].set_visible(False)
        ax.set_frame_on(False)
        ax.get_xaxis().tick_bottom()
        ax.get_yaxis().tick_left()
        ax.set_xlabel("Mean Tf-Idf Score", labelpad=16, fontsize=14)
        ax.set_title("label = " + str(df.label), fontsize=16)
        ax.ticklabel_format(axis='x', style='sci', scilimits=(-2,2))
        ax.barh(x, df.tfidf, align='center', color='#005035')
        ax.set_yticks(x)
        ax.set_ylim([-1, x[-1]+1])
        yticks = ax.set_yticklabels(df.feature)
        plt.subplots_adjust(bottom=0.09, right=0.97, left=0.15, top=0.95, wspace=0.52)
    plt.show()

In [27]:
plot_tfidf_classfeats_h(dfs)

NameError: name 'dfs' is not defined